
body {
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: 0 2rem;
}

p {
    color: hsl(240, 2%, 29%);
}

.light-text {
    font-weight: 300;
}

#hero-section {
    text-align: center;
}
#hero-section .container{
    max-width: 600px;
}

.grid-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.middle-col {
    gap: 2rem;
}
.icon-section {
    text-align: end;
}

.block {
    border-radius: 5px;
    box-shadow: 2px 5px 15px 5px #00000021;
    padding: 1rem;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-col {
    display: flex;
    align-items: center;
}
.left-block {
    border-top: 4px solid hsl(212, 86%, 64%);
    
}

.middle-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.middle-block-top {
    border-top: 4px solid hsl(0, 78%, 62%);
}
.middle-block-bottom {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.right-col {
    display: flex;
    align-items: center;
}
.right-block {
    border-top: 4px solid hsl(180, 62%, 55%);
}

footer {
    margin: 2rem 0;
    font-size: 11px; text-align: center;
    color: #6c6c6ca0;
}
footer p {
    color: #6c6c6ca0;
}
footer a {
    color: #6c6c6ca0;
}

/* on tablet and mobile */
@media (max-width:763px) {
    
    .container {
        padding: 1rem;
        gap: 0;
    }

    .block {
        margin-top: 2rem;
    }
    .grid-blocks {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .left-col {
        display: block;
        align-items: center;
    }
    .middle-col{
        display: block;
        gap: 0;
    }
    .right-col {
        display: block;
    }
    
    

}